<p>currency-display works!</p>


<form #currencyForm="ngForm" class="currency-form">

  
    <button  (click) = "getCurrency('EU')" mat-raised-button color="primary">EU</button>
    <button   (click) = "getCurrency('LT')" mat-raised-button color="primary">LT</button>

  </form>

Tabula:






<!-- <div class="table-responsive">
    <table class="table" *ngIf='unitTestA && unitTestA.length'>
      <thead>
         <tr>             
               <th>Id</th>
               <th>Message</th>
               <th>Detail</th>              
         </tr> 
      </thead>
     <tbody>
       <tr *ngFor ="let messages of unitTestA">
           <td>{{messages.id }}</td>
           <td>{{messages.title }}</td>
           <td>{{messages.detail}}</td>
       </tr>
     </tbody>
  </table>
 </div> -->