<div class="main">
  <h1>Choose currency</h1>
    <p>ROOOOOT</p>
 
    <div class="table-responsive">
      <table class="table">
        <thead>
        <tr>
          <th>First name</th>
         
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let curr of restCurrencyData">
          <td>{{curr.dt}}</td>
          
          <td>
            <!-- <button class="btn btn-primary" (click)="openDetails()">Details</button> -->
          </td>
        </tr>
        </tbody>
      </table>
    </div>







   <app-currency-display></app-currency-display>


  
</div>